@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7f5f0;
  color: #15181c;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Space Grotesk', sans-serif;
}

.font-mono-num {
  font-family: 'JetBrains Mono', monospace;
}
